name: Docker Image CI

on: [push]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Login to DockerHub Registry
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login docker.pkg.github.com -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag alpine-sshfs:$(date +%s)
    - name: Tag the Docker image
      run: docker tag alpine-sshfs:$(date +%s) alpine-sshfs:latest
    - name: Push the Docker image to the registry
      run: docker push stephanmh/alpine-sshfs:latest
      
