name: Docker Image CI

on: [push]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Login to DockerHub Registry
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login docker.io -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
    - name: Build the Docker image
      run: docker build -t stephanmh/alpine-sshfs:latest .
    - name: Tag the Docker image
      run: docker tag stephanmh/alpine-sshfs:latest stephanmh/alpine-sshfs:$(date +%s) 
    - name: Push the Docker image to the registry
      run: docker push stephanmh/alpine-sshfs
      
